* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 14px;
}

:root {
	--header-footer-color: #fdfdfd;
	--border-color: #dcdbdb;
}

a {
	color: #000;
	text-decoration: none;	
}

a:hover {
	text-decoration: underline #000;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

h1 {
	font-size: 1.6rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
footer h4 {
	font-size: 0.9rem;
}


body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x:	 hidden;
}

header, main, footer {
	width: 75%;
	padding: 10px 5px;
}

header {
	border-bottom: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--header-footer-color);
	height: auto;
	min-height: 70px;
}

header > p {
	justify-self: flex-end;
}

main {
	min-height: auto;
	padding-bottom: 40px; 
}

footer {
	min-height: 10px;
	border-top: 1px solid var(--border-color);
	background-color: var(--header-footer-color);
	padding: 5px 20px 7px;
	align-items: center;
	display: flex;
	min-height: 25px; 
	position: fixed;
	bottom: 0;
}

footer > a {
	padding: 0 20px;
	margin-top: 2px;
	display: inline-flex;
}

.header-right {
	text-align: right;
	align-self: flex-end;
}

.header-left {
	padding-right: 15px;
}

span.i {
	margin-right: 5px;
}

section.about {
	margin-top: 20px;
}
section.about h3 {
	color: #515151;
}

section.section-box {
	display: flex;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}

div.section-date {
	max-width: 150px;
	min-width: 150px;
	margin-right: 20px;
}
div.section-date h4 {
	font-size: 1.1rem;
	font-weight: 500;
}
div.section-date p, div.place-role p {
	font-size: 0.95rem;
	font-weight: 500;
	color: gray;
}
div.place-role h4:first-child {
	margin-bottom: 5px;
}

section.section-skills {
	/* background-color: #fafafa; */
	padding: 0 10px;
	margin-left: 0;
	border-radius: 5px; 
	flex-wrap: wrap;
}

section.section-skills span {
	display: inline-block;
	padding: 3px 10px;
	background-color: #eee;
	border-radius: 5px; 
	margin: 5px 5px;
	font-size: 0.95rem;
	color: #313131;
}

section.about-myself {
	margin-top: 35px;
}
section.about-myself section.section-box {
	margin-left: 0;
	display: block;
}

section.about-myself h3, section.about-pojects h3 {
	text-align: center;
	color: #000;
}

section.about-myself p {
	text-indent: 3rem; 
	text-align: justify;
	font-size: 1rem;
	color: #030303;
}


@media (max-width: 800px) {
	* {
		font-size: 12px;
	}

	header, main, footer {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px; 
	}
}

@media (max-width: 410px) {
	header {
		flex-wrap: wrap;
	}
	.header-right {
		text-align: left;
	}
	.header-left > p, .header-right p {
		margin-top: 5px;
	}	
	footer > a {
		padding: 0 ;
	}
	footer {
		justify-content: space-around;
		align-content: center;
		/* position: relative	; */
		/* padding-bottom: 5px; */
	}
	
	div.section-date {
		min-width: 75px;
		max-width: 75px;
		margin-right: 25px;
	}

	section.section-box {
		margin-left: 5px;
	}

	section.about-myself p {
		text-indent: 1.5rem; 
		text-align: justify;
		font-size: 1rem;
		color: #030303;
	}
}

@media print {
	footer {
		display: none;
	}
}