* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 14px;
}

:root {
	--header-footer-color: #fdfdfd;
	--border-color: #dcdbdb;
}

a {
	color: #000;
	text-decoration: none;	
}

a:hover {
	text-decoration: underline #000;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

h1 {
	font-size: 1.6rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.35rem;
}
h4 {
	font-size: 1.2rem;
}
footer h4 {
	font-size: 0.95rem;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x:	 hidden;
}

header, main, footer {
	width: 75%;
	padding: 10px 5px;
}

header {
	border-bottom: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--header-footer-color);
	height: auto;
	min-height: 70px;
	left: 0;
}

header > p {
	justify-self: flex-end;
}

main {
	min-height: auto;
	padding-bottom: 40px; 
}

footer {
	min-height: 10px;
	border-top: 1px solid var(--border-color);
	background-color: var(--header-footer-color);
	padding: 5px 20px 7px;
	align-items: center;
	display: flex;
	min-height: 25px; 
	position: fixed;
	bottom: 0;
}

footer > a {
	padding: 0 20px;
	margin-top: 2px;
	display: inline-flex;
}

.header-right {
	text-align: right;
	align-self: flex-end;
}

.header-left {
	padding-right: 15px;
}

span.i {
	margin-right: 5px;
}

section.about {
	margin-top: 20px;
}
section.about h3 {
	color: #515151;
}

section.section-box {
	display: flex;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}

div.section-date {
	max-width: 150px;
	min-width: 150px;
	margin-right: 20px;
}
div.section-date h4 {
	font-size: 1.1rem;
	font-weight: 500;
}
div.section-date p, div.place-role p {
	font-size: 0.95rem;
	font-weight: 500;
	color: gray;
}
div.place-role p {
	margin-top: 3px;
}
div.place-role a h4 {
	color: #1a0dab;
}
div.place-role a h4:hover {
	text-decoration: underline #1a0dab;
}
div.place-role h4:first-child {
	margin-bottom: 3px;
}

section.section-skills {
	/* background-color: #fafafa; */
	padding: 0 10px;
	margin-left: 0;
	border-radius: 5px; 
	flex-wrap: wrap;
}

section.section-skills span, p.span-list-fixed span {
	transition: all 1s ease 0s;
	display: inline-block;
	padding: 3px 10px;
	background-color: #eee;
	border-radius: 5px; 
	margin: 5px 5px;
	font-size: 0.95rem;
	color: #313131;
}

section.about-myself {
	margin-top: 35px;
}
section.about-myself section.section-box {
	margin-left: 0;
	display: block;
}

section.about-myself h3{
	text-align: center;
	color: #000;
}

section.about-pojects h3 {
	color: #000;
} 

section.about-myself p {
	text-indent: 3rem; 
	text-align: justify;
	font-size: 1rem;
	color: #030303;
}

section.section-box.section-slider {
	width: auto;
	height: 50px;
	background-color: #000;
}

section.section-box.section-skills span.span-marked {
	background-color: #fab1a0;
}

p.span-list-fixed {
	width: 100%;
	transition: all 1s ease 0s;
	background-color: var(--header-footer-color);
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: -100px;
	left: 0;
	text-align: center;
	justify-content: center;
	box-shadow: 0 5px 6px 4px rgba(0, 0, 0, .2)
}

p.span-list-fixed span {
	margin-top: 10px;
	margin-bottom: 10px;
}

p.span-list-mobile {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 3px 0;
}

p.span-list-mobile span {
	margin: 1.5px 4px 1.5px 0;
	font-size: 0.65rem;
	display: inline-block;
	padding: 1.5px 4px;
	background-color: #eee;
	border-radius: 5px; 
	color: #313131;
}

h4 span {
	color: #000;
	font-size: 1.2rem;
	font-weight: 500;
}

@media (min-width: 1800px) {
	* {
		font-size: 25px;
	}
	div.section-date {
    max-width: 300px;
    min-width: 300px;
    margin-right: 20px;
	}
	header {
		min-height: 8%;
	}
}

@media (max-width: 800px) {
	* {
		font-size: 13px;
	}

	header, main, footer {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px; 
	}
	
	div.place-role h5 {
		margin-bottom: 3px;
	}
}

@media (max-width: 420px) {
	* {
		font-size: 12px;
	}

	.header-right a p {
		font-size: 0.9rem;
	}

	header {
		flex-wrap: wrap;
		min-height: auto;
		position: fixed;
	}

	main {
		margin-top: auto;
	}

	.header-right {
		text-align: left;
		align-self: auto;
	}
	.header-left > p, .header-right p {
		margin-top: 5px;
	}	
	.header-left p {
		display: none;
	}
	.header-right a {
		display: inline-block;
	}
	.header-right {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.place-role .section-date ~ h4, 
	.place-role .section-date ~ a h4,
	.place-role h5 {
		text-align: right;
	}

	footer > a {
		padding: 0 ;
	}
	footer {
		justify-content: space-around;
		align-content: center;
		/* position: relative	; */
		/* padding-bottom: 5px; */
	}

	section.about-education div.section-date {
		min-width: 90px;
		max-width: 90px;
	}
	
	div.section-date {
		min-width: 90px;
		margin-right: 15px;
		float: left;
		margin-bottom: 5px;
	}

	div.section-date p {
		word-wrap: break-word;
	}

	section.section-box {
		margin-left: 5px;
	}

	section.about-myself p {
		text-indent: 1.5rem; 
		text-align: justify;
		font-size: 1rem;
		color: #030303;
	}

	div.place-role h5 {
		margin-bottom: 20px;
	}
}

@media (max-width: 320px) {
	* {
		font-size: 11px;
	}

	h1 {
		font-size: 1.5rem;
	}
	div.place-role h5 {
		margin-bottom: 10px;
	}
	div.section-date {
		min-width: 120px;
		max-width: 120px;
	}

	.about-work div.section-date, 
	.about-education div.section-date {
		min-width: 80px;
    max-width: 80px;
	}
	
	section.section-skills.section-box {
		padding: 0;
		margin: 3px 0;
	}
	section.section-skills span {
		padding: 2px 7px;
		font-size: 0.85rem;
	}
}

@media print {
	footer {
		display: none;
	}
}