html {
	font-size: 17px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'PT Sans Caption', sans-serif;
	/* font-family: 'Press Start 2P', cursive; */
	scroll-behavior: smooth;
	scroll-margin-top: 7.14rem;
}

:root {
	--header-footer-color: #fdfdfd;
	--border-color: #dcdbdb;
	--link-color: #261c92;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline #000;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
}

h1 {
	font-size: 1.6rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.35rem;
}
h4 {
	font-size: 1.2rem;
}

footer h4 {
	font-size: 0.95rem;
}

h4.h4_aim {
	margin-top: 0.8rem;
	text-align: center;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

header,
main,
footer {
	width: 60%;
	padding: 0.8rem 0.4rem;
}

header {
	z-index: 20;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--header-footer-color);
	height: auto;
	min-height: 5rem;
	position: fixed;
}

header > p {
	justify-self: flex-end;
}

section.about-myself p a {
	color: var(--link-color);
}

main {
	min-height: auto;
	padding-bottom: 2.5rem;
	margin-top: 8rem;
}

footer {
	min-height: 0.7rem;
	border-top: 1px solid var(--border-color);
	background-color: var(--header-footer-color);
	padding: 0.35rem 1.4rem 0.5rem;
	align-items: center;
	display: flex;
	min-height: 1.7rem;
	position: fixed;
	bottom: 0;
}

footer > a {
	padding: 0 1.4rem;
	margin-top: 0.14rem;
	display: inline-flex;
}

footer > span.right {
	margin-left: auto;
	padding: 0 0.7rem 0;
}
footer > a.right1 {
	padding: 0 0.7rem;
}

.header-right {
	text-align: right;
	align-self: flex-end;
}

.header-left {
	padding-right: 1.1rem;
}

span.i {
	margin-right: 0.35rem;
}

section.about {
	margin-top: 1.4rem;
}
section.about h3 {
	color: #515151;
}

section.about-education * ~ div.place-role {
	margin-bottom: 0;
}

section.section-box {
	display: flex;
	margin-left: 1.75rem;
	margin-top: 0.7rem;
	margin-bottom: 1.4rem;
}

div.section-date {
	max-width: 10.7rem;
	min-width: 10.7rem;
	margin-right: 1.4rem;
}
div.section-date h4 {
	font-size: 1.1rem;
	font-weight: 500;
}
div.section-date p,
div.place-role p {
	font-size: 0.95rem;
	font-weight: 500;
	color: #3a3a3a;
}

div.place-role.hide {
	overflow: hidden;
	max-height: 7.2rem;
}

div.place-role {
	margin-bottom: 1.57rem;
}

div.expand-checkbox-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 0;
	box-shadow: 0 -1.14rem 1.4rem -0.42rem rgba(0, 0, 0, 0.15);
	width: 100%;
	padding-top: 0.7rem;
}
div.expand-checkbox-wrapper.checked {
	box-shadow: none;
}
input.expand-checkbox {
	/* display: none; */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

label.expand-label {
	cursor: pointer;
	width: 2rem;
	height: 0.7rem;
	background-color: #ececec;
	border-radius: 0.7rem;
	position: relative;
	box-shadow: 0 0rem 0.35rem 0.14rem rgba(0, 0, 0, 0.15);
	transition: all 0.5s ease 0s;
	display: flex;
	justify-content: center;
	align-items: center;
}

input.expand-checkbox:focus + label.expand-label {
	box-shadow: 0 0rem 0.35rem 0.35rem #fab1a091;
	background-color: #fab1a0a5;
}

input.expand-checkbox:focus + label.expand-label::after,
input.expand-checkbox:focus + label.expand-label::before {
	background-color: #fd8468;
}

label.expand-label:hover {
	box-shadow: 0 0rem 0.35rem 0.35rem #fab1a091;
	background-color: #fab1a0a5;
}

label.expand-label:hover::after,
label.expand-label:hover::before {
	background-color: #fd8468;
}

label.expand-label::after,
label.expand-label::before {
	content: '';
	width: 20%;
	height: 0.07rem;
	display: block;
	background-color: #b2b2b2;
	transition: all 0.5s ease 0s;
}

label.expand-label::after {
	transform: rotate(-35deg);
	margin-left: -0.6px;
}
label.expand-label::before {
	transform: rotate(35deg);
	margin-right: -0.6px;
}

input.expand-checkbox:checked ~ label::after {
	transform: rotate(35deg);
}
input.expand-checkbox:checked ~ label::before {
	transform: rotate(-35deg);
}

div.place-role p.summarize {
	color: #1c1c1c;
}

div.place-role p a {
	font-size: 0.95rem;
	color: var(--link-color);
}

div.section-date p.in_progress {
	color: #00ac27;
	font-size: 0.9rem;
}
div.section-date p.in_freeze {
	color: #1277bd;
	font-size: 0.9rem;
}

div.place-role p {
	margin-top: 0.21rem;
}
div.place-role a h4 {
	color: var(--link-color);
}
div.place-role a h4:hover {
	text-decoration: underline var(--link-color);
}
div.place-role h4:first-child {
	margin-bottom: 0.21rem;
}

section.section-skills {
	/* background-color: #fafafa; */
	padding: 0 0.7rem;
	margin-left: 0;
	border-radius: 0.35rem;
	flex-wrap: wrap;
}

section.section-skills span,
p.span-list-fixed span {
	transition: background-color 1s ease 0s;
	display: inline-block;
	padding: 0.2rem 0.7rem;
	background-color: #eee;
	border-radius: 0.35rem;
	margin: 0.35rem 0.35rem;
	font-size: 0.95rem;
	color: #313131;
}

section.about-myself {
	margin-top: 2.5rem;
}
section.about-myself section.section-box {
	margin-left: 0;
	display: block;
}
section.about.about-pojects .section-box {
	position: relative;
}

section.about-myself h3 {
	text-align: center;
	color: #000;
}

section.about-pojects h3 {
	color: #000;
}

section.about-myself p {
	text-indent: 3rem;
	text-align: justify;
	font-size: 1.1rem;
	color: #141414;
}

section.section-box.section-skills span.span-marked {
	background-color: #fab1a0;
}

p.span-list-fixed {
	width: 100%;
	transition: all 1s ease 0s;
	background-color: var(--header-footer-color);
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: -7.14rem;
	left: 0;
	text-align: center;
	justify-content: center;
	box-shadow: 0 0.35rem 0.4rem 0.28rem rgba(0, 0, 0, 0.15);
}

p.span-list-fixed span {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

p.span-list-mobile {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 3px 0 4px;
}

p.span-list-mobile span {
	margin: 1.5px 4px 1.5px 0;
	font-size: 0.65rem;
	display: inline-block;
	padding: 1.5px 4px;
	background-color: #eee;
	border-radius: 5px;
	color: #313131;
}

h4 span {
	color: #000;
	font-size: 1.2rem;
	font-weight: 500;
}

section.about.about-just-game .section-box {
	display: flex;
	justify-content: center;
	margin: 0;
}

section.about.about-just-game .section-box canvas {
	border: 1px solid black;
}

@media (min-width: 2300px) {
	html {
		font-size: 25px;
	}
	div.section-date {
		max-width: 21.4rem;
		min-width: 21.4rem;
		margin-right: 1.4rem;
	}
	header {
		min-height: 8%;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 14px;
	}

	header,
	main,
	footer {
		width: 100%;
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}

	div.place-role h5 {
		margin-bottom: 3px;
	}
}

@media (max-width: 420px) {
	html {
		font-size: 14px;
	}

	.header-right a p {
		font-size: 0.9rem;
	}

	header {
		flex-wrap: wrap;
		/* min-height: auto; */
		/* position: fixed; */
		padding-top: 5px;
		padding-bottom: 5px;
	}

	label.expand-label:hover {
		box-shadow: 0 0px 5px 5px #ffd9d091;
		background-color: #ffd9d091;
	}

	label.expand-label:hover::after,
	label.expand-label:hover::before {
		background-color: #fd836880;
	}

	main {
		margin-top: auto;
	}

	div.place-role.hide {
		overflow: hidden;
		max-height: 160px;
	}

	.header-right {
		text-align: left;
		align-self: auto;
	}
	.header-left > p,
	.header-right p {
		margin-top: 2px;
	}
	/* .header-left p {
		display: none;
	} */
	.header-right a {
		display: inline-block;
	}
	.header-right {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.place-role .section-date ~ h4,
	.place-role .section-date ~ a h4,
	.place-role h5 {
		text-align: right;
	}

	footer {
		justify-content: space-around;
		align-content: center;
	}

	section.about-education div.section-date {
		min-width: 90px;
		max-width: 90px;
	}

	div.section-date {
		min-width: 90px;
		margin-right: 15px;
		float: left;
		margin-bottom: 5px;
	}

	div.section-date p {
		word-wrap: break-word;
	}

	section.section-box {
		margin-left: 5px;
	}

	section.about-myself p {
		text-indent: 1.5rem;
		text-align: justify;
		font-size: 1rem;
		color: #141414;
	}

	div.place-role h5 {
		margin-bottom: 15px;
	}

	footer > a {
		padding: 0 13px;
	}
}

@media (max-width: 320px) {
	* {
		font-size: 0.785rem;
	}

	h1 {
		font-size: 1.5rem;
	}
	div.place-role h5 {
		margin-bottom: 0.7rem;
	}
	div.section-date {
		min-width: 8.57rem;
		max-width: 8.57rem;
	}

	section.about-work div.section-date,
	section.about-education div.section-date {
		min-width: 5.7rem;
		max-width: 5.7rem;
	}

	section.section-skills.section-box {
		padding: 0;
		margin: 0.21rem 0;
	}
	section.section-skills span {
		padding: 0.14rem 0.5rem;
		font-size: 0.85rem;
	}

	footer > a {
		padding: 0 0.7rem;
	}

	section.about {
		margin-top: 0.85rem;
	}
}

@media print {
	header {
		position: initial;
	}

	main {
		margin-top: 0rem !important;
	}

	footer {
		display: none;
	}

	div.place-role.hide {
		overflow: auto;
		max-height: 100%;
	}
	div.expand-checkbox-wrapper {
		display: none;
	}
}
